$breakpoints: (
  "mobile-xs": 320px,
  "mobile-s": 480px,
  "mobile": 600px,
  "tablet": 768px,
  "tablet-landscape": 1024px,
  "laptop": 1280px,
  "desktop": 1440px,
  "desktop-wide": 1920px,
);

@mixin breakpoint-up($key) {
  $value: map-get($breakpoints, $key);

  @if $value != null {
    @media (min-width: #{$value}) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for '#{$key}' in $breakpoints.";
  }
}

@mixin breakpoint-down($key) {
  $value: map-get($breakpoints, $key);

  @if $value != null {
    $max: $value - 1px;

    @media (max-width: #{$max}) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for '#{$key}' in $breakpoints.";
  }
}
